*.o
*.out
*.exe
*~
*.log
.DS_STORE

# Visual Studio Code (un)code
.vscode
.vscode-server
.devcontainer
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history

# personal python venvs
sabine-env/
yasadu-env/
patrick-venv/
venv/

# pycache
__pycache__/

# output files
*_bytes
